<nav>
  <a class="nav-logo" href="{{ '/' | relative_url }}">
    <img
      src="{{ '/assets/logos/e11iptic-horizontal.svg' | relative_url }}"
      width="389"
      height="110"
      alt="e11iptic"
    />
  </a>
  {% for item in site.data.navigation %}
    <a
      href="{{ item.link | relative_url }}"
      {% if page.url == item.link or item.link == '/blog/' and page.url contains '/blog/' %}
        class="nav-is-active"
      {% endif %}
    >
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
