// To not center blog and posts vertically.
main:has(.blog),
main:has(.post) {
    justify-content: flex-start;
}

.blog {
    list-style: none;
    padding: 0;
    margin: 0;
    width: var(--content-width);
    text-align: left;

    .section {
        padding: 1rem;
    }

    h1 {
        padding: 0;
        margin: 0;
        line-height: 1;
        font-size: 2rem;
    }

    a {
        color: black;
        text-decoration: none;
        font-weight: 500;
        font-size: 2rem;
    }

    .date {
        padding: 0;
        margin: 0;
    }
}
