@font-face {
    font-family: "Inter";
    src: url("/assets/font/Inter_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
