@font-face {
    font-family: "Inter";
    src: url("/assets/font/Inter_24pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-SemiBoldItalic.ttf")
        format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-ExtraBoldItalic.ttf")
        format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-Book.ttf") format("truetype");
    font-weight: 450; /* Book weight, between normal and medium */
    font-style: normal;
}

@font-face {
    font-family: "Overused Grotesk";
    src: url("/assets/font/OverusedGrotesk-BookItalic.ttf") format("truetype");
    font-weight: 450;
    font-style: italic;
}
