* {
    box-sizing: border-box;
}

:root {
    --content-width: min(700px, 90%);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #ececec;
    font-family: "Overused Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*
    Header.
*/
header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;

    nav {
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        padding: 0rem 1rem;
        display: flex;
        gap: 1.2rem;
        border-radius: 10px;
    }

    nav a {
        color: #4c061d;
        text-decoration: none;
        font-weight: 500;
        padding: 0.4rem 0.6rem;
        border-radius: 10px;

        &:hover {
            font-weight: 600;
        }
    }
    .nav-is-active {
        font-weight: 600;
    }
}

/*
    Main.
*/
main {
    font-size: 1.2rem;
    flex: 1; // make `Main` grow to take space that is not taken by neither `Header` nor `Footer`.
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        img {
            width: min(20rem, 70%);
        }
    }

    .description {
        width: var(--content-width);
    }
}

.brand {
    font-weight: 700;
}

/*
    Footer.
*/
footer {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.social-links {
    gap: 1rem;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 0rem 1rem;
    display: flex;
    gap: 1.2rem;
    border-radius: 10px;
}

.social-icon {
    color: #4c061d;
    text-decoration: none;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
}

.social-icon:hover {
    font-weight: 600;
}

/*
    Post Layout Styles
*/
.post {
    width: var(--content-width);
    text-align: left;

    // Header section
    .post-header {
        margin: 0;
        padding: 0;
        .post-title {
            padding: 0;
            margin: 0;
            color: black;
            text-decoration: none;
            font-weight: 600;
            font-size: 2rem;
            margin: 0;
        }
    }

    // Main content
    .post-content {
        line-height: 1.6;
        margin-bottom: 2rem;

        // Style for code blocks
        pre {
            background: #f5f5f5;
            padding: 1rem;
        }
    }

    // Navigation between posts
    .post-navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        padding-top: 2rem;

        a {
            text-decoration: none;
            color: #4c061d;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.9rem;

            &.prev {
                margin-right: auto;
            }

            &.next {
                margin-left: auto;
            }
        }
    }
}
